<ul>
<% @companies.each do |company| %>
 <li> <a href="/companies/<%= company.id %>"><%= company.name %>
 <a href="/companies/<%= company.id %>/edit">Edit</a> </li>
<% end %>
</ul>

<a href="/companies/new">Create a company</a>
